<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<setting name="mapUnderscoreToCamelCase" value="true" />
	</settings>

	<typeAliases>
		<typeAlias type="com.security.modules.touch.entity.BFNewsEntity"
			alias="BFNewsEntity" />
		<typeAlias type="com.security.modules.touch.entity.BFBannerInf"
			alias="BFBannerInf" />
		<typeAlias type="com.security.modules.touch.entity.BFBannerConfig"
			alias="BFBannerConfig" />
		<typeAlias type="com.security.modules.sys.entity.FileListEntity"
			alias="FileListEntity" />
		<typeAlias type="com.security.modules.sys.entity.MessageInfo"
			alias="MessageInfo" />
		<typeAlias type="com.security.modules.sys.entity.SendEntity"
			alias="SendEntity" />
		<typeAlias type="com.security.modules.touch.entity.BFBusCenter"
			alias="BFBusCenter" />	
		<typeAlias type="com.security.modules.touch.entity.BFBlackList"
			alias="BFBlackList" />
		<typeAlias type="com.security.modules.touch.entity.ProdCatEntity" 
			alias="ProdCatEntity" />
		<typeAlias type="com.security.modules.touch.entity.BFOrderInf" 
			alias="BFOrderInf" />
		<typeAlias type="com.security.modules.touch.entity.BFOrderDetail" 
			alias="BFOrderDetail" />
		<typeAlias type="com.security.modules.touch.entity.BFActivityList" 
			alias="BFActivityList" />
		<typeAlias type="com.security.modules.touch.entity.BFActivityFBack" 
			alias="BFActivityFBack" />
		<typeAlias type="com.security.modules.touch.entity.BFActivityApplication" 
			alias="BFActivityApplication" />
		<typeAlias type="com.security.modules.touch.entity.BFProductInf" 
			alias="BFProductInf" />
		<typeAlias type="com.security.modules.touch.entity.BFVoteInf" 
			alias="BFVoteInf" />
		<typeAlias type="com.security.modules.touch.entity.BFVoteDetail" 
			alias="BFVoteDetail" />
		<typeAlias type="com.security.modules.touch.entity.AppVersionEntity" 
			alias="AppVersionEntity" />
	</typeAliases>

	<!-- 分页插件 -->
	<!-- <plugins> <plugin interceptor="com.github.pagehelper.PageInterceptor" 
		></plugin> </plugins> -->

</configuration>

