<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
		<typeAlias type="com.security.modules.touch.entity.FileListEntity" alias="FileListEntity"/> 	
		<typeAlias type="com.security.modules.sys.entity.MessageInfo" alias="MessageInfo" />
</configuration>

