<!DOCTYPE html>
<html>
<head>
<title>管理员列表</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/switch.css">
</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<div class="form-group col-sm-2">
				<input type="text" class="form-control" v-model="q.title" @keyup.enter="search" placeholder="标题">
			</div>
			<a class="btn btn-default" @click="search">查询</a>
			<#if shiro.hasPermission("touch:news:save")>
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;新增</a>
			</#if>
		<!-- 	<#if shiro.hasPermission("touch:news:updateStatus")>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</#if> -->
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
	<div v-show="showReply">
			<div class="grid-btn">
				<a class="btn btn-default" @click="reload">返回列表</a>
			</div>
			<table id="jqGrid2"></table>
	    	<div id="jqGridPager2"></div>
	</div>
	<div v-show="!showList && !showReply" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" style="width:100%">
			<input type="hidden" id="news_fileName" class="form-control" v-model="news.fileName" />
			<input type="hidden" id="news_oriFileName" class="form-control" v-model="news.oriFileName" />
			<div class="form-group">
				<div class="col-sm-1 control-label">显示到</div>
				<template v-for="platform in platformList">
					<label class="radio-inline">
						<input type="radio" name="platform" v-bind:value="platform.KEY" v-model="news.pc_valid"/> {{ platform.VALUE }}
					</label>
				</template>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">资讯标签</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="news.tag" requires="require" placeholder="资讯标签" msg_txt="请填写标签！"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">资讯标题</div>
				<div class="col-sm-10">
					<input type="text" class="form-control" v-model="news.title" requires="require" placeholder="资讯标题" msg_txt="请填写标题"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-1 control-label">资讯图标</div>
				<div class="col-sm-10">
					<img id="news_img" style="width:100px;height:100px"/>
					<a class="btn btn-primary" id="news_upload"><i class="fa fa-plus"></i>&nbsp;图片上传</a>
				</div>
			</div>

			<div class="form-group" >
				<div class="col-sm-1 control-label">资讯简介</div>
				<div class="col-sm-10">
					<textarea class="form-control" rows="4" cols="50" requires="require" v-model="news.intro" msg_txt="请填写简介"></textarea>
				</div>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-1 control-label">是否显示</div>
				<!-- <label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="news.status"/> 删除
				</label> -->
				<label class="radio-inline">
					<input type="radio" name="status" value="1" v-model="news.status"/> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="news.status"/> 否
				</label>
			</div>
			
			<div class="form-group">
					<div class="col-sm-1 control-label">咨询内容</div>
					<div class="col-sm-10">
						<!-- 富文本编辑器 -->
						<div id="editor" type="text/plain" style="height:300px;"></div>
					</div>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-2 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>
</div>


<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
<script src="${request.contextPath}/statics/ueditor/ueditor.config.js"></script>
	<script src="${request.contextPath}/statics/ueditor/ueditor.all.js"></script>
	<script src="${request.contextPath}/statics/ueditor/lang/zh-cn/zh-cn.js"></script>
<script src="${request.contextPath}/statics/js/modules/touch/news.js?_${.now?long}"></script>

</body>
</html>