<!DOCTYPE html>
<html>
<head>
<title>消息列表</title>
<#include "/header.html">
<link rel="stylesheet"
	href="${request.contextPath}/statics/css/switch.css">
<link rel="stylesheet"
	href="${request.contextPath}/statics/plugins/datepicker/vue.datepicker.css">
<script type="text/javascript"
	src="http://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
<script type="text/javascript"
	src="${request.contextPath}/statics/plugins/datepicker/vue.datepicker.js"></script>
</head>
<body>
	<div id="rrapp" v-cloak>
		<div v-show="showList">
			<div class="grid-btn">
				<div class="form-group col-md-2">
					<input type="text" class="form-control" v-model="q.title"
						@keyup.enter="query" placeholder="标题">
				</div>
				<a class="btn btn-default" @click="query">查询</a>
				<#if shiro.hasPermission("sys:message:save")> <a
					class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>新增</a>
				</#if>
				<#if shiro.hasPermission("sys:message:delete")> <a
					class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>删除</a>
				</#if>
				<#if shiro.hasPermission("sys:message:sendGoogle")> <a
					class="btn btn-primary" @click="send"><i class="fa fa-arrow-circle-right"></i>手动发送</a>
				</#if>
			</div>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default">
			<div class="panel-heading">{{title}}</div>
			<form class="form-horizontal" style="width: 100%">
				<input type="hidden" id="message_fileName" class="form-control"
					v-model="message.coversrc" />
				<div v-if="title == '新增'">
					<div class="form-group">
						<div class="col-md-2 control-label">选择发送方式</div>
						<div class="col-md-4">
							<label class="radio-inline"><input type="radio"
								name="sendtype" v-model="message.type" value="1" />手动发送</label> <label
								class="radio-inline"><input type="radio" name="sendtype"
								v-model="message.type" value="2" />定时发送</label>
						</div>
						<div class="col-md-4" v-if="message.type == 2">
							<mz-datepicker format="yyyy-MM-dd HH:mm:ss" :time.sync="message.auto_date"></mz-datepicker>
							
						</div>
					</div>
					<div class="form-group">
						<div class="col-md-2 control-label">选择发送范围</div>
						<div class="col-md-10">
							<label class="radio-inline"><input type="radio"
								name="acctype" v-model="message.acc_type" value="1" />全部</label> <label
								class="radio-inline"><input type="radio" name="acctype"
								v-model="message.acc_type" value="2" />人员</label> <label
								class="radio-inline"><input type="radio" name="acctype"
								v-model="message.acc_type" value="3" />条件范围</label>
						</div>
					</div>
					<div v-if="message.acc_type == 3">
						<div class="form-group">
							<div class="col-md-2 control-label">选择国家</div>
							<div class="col-md-10">
								<template v-for="company in companys"> <label
									class="radio-inline" style="margin-left:10px;padding-left:0px;"> <input type="checkbox"
									name="platform[]" v-bind:value="company.VALUE"
									v-model="acceptorRange.country" /> {{ company.VALUE }}
								</label> </template>
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-2 control-label">会员等级</div>
							<div class="col-md-4">
								<input type="number" class="form-control"
									v-model="acceptorRange.rankmin" placeholder="需要推送的下限会员等级" />
							</div>
							<div class="col-md-4">
								<input type="number" class="form-control"
									v-model="acceptorRange.rankmax" placeholder="需要推送的上限会员等级" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-2 control-label">PV范围</div>
							<div class="col-md-4">
								<input type="text" class="form-control"
									v-model="acceptorRange.pvmin" placeholder="需要推送会员的下限PV" />
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control"
									v-model="acceptorRange.pvmax" placeholder="需要推送会员的上限PV" />
							</div>
						</div>
						<div class="form-group">
							<div class="col-md-2 control-label">GPV范围</div>
							<div class="col-md-4">
								<input type="text" class="form-control"
									v-model="acceptorRange.gpvmin" placeholder="需要推送会员的下限GPV" />
							</div>
							<div class="col-md-4">
								<input type="text" class="form-control"
									v-model="acceptorRange.gpvmax" placeholder="需要推送会员的上限GPV" />
							</div>
						</div>
					</div>
					<div v-if="message.acc_type == 2">
						<div class="form-group">
							<div class="col-md-2 control-label">经销商卡号</div>
							<div class="col-md-10">
								<input type="text" class="form-control"
									v-model="acceptorRange.membs" placeholder="经销商卡号(多个用,分开)" />
							</div>
						</div>
					</div>
				</div>
				<div v-else>
					<div class="form-group">
						<div class="col-md-2 control-label">消息发送范围</div>
						<div class="col-md-10">
							<input type="text" class="form-control"
								v-model="message.acceptor" />
						</div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label">消息标签</div>
					<div class="col-md-10">
						<input type="text" class="form-control" v-model="message.tag"
							placeholder="消息标签" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label">消息显示图片</div>
					<div class="col-md-10">
						<img id="message_img" width="100" height="100"/> <a class="btn btn-primary"
							id="message_upload"><i class="fa fa-plus"></i>&nbsp;图片上传</a>
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label">消息标题</div>
					<div class="col-md-10">
						<input type="text" class="form-control" v-model="message.title"
							placeholder="消息标题" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label">消息简介</div>
					<div class="col-md-10">
						<input type="text" class="form-control" v-model="message.intro"
							placeholder="消息标题" />
					</div>
				</div>
				<div class="form-group">
					<div class="col-md-2 control-label">消息内容</div>
					<div class="col-md-10">
						<!-- 富文本编辑器 -->
						<div id="editor" type="text/plain" style="height: 300px;"></div>
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-2 control-label"></div>
					<input type="button" id="sure" class="btn btn-primary"
						@click="saveOrUpdate" value="确定" /> &nbsp;&nbsp;<input
						type="button" class="btn btn-warning" @click="reload" value="返回" />
				</div>
			</form>
		</div>
	</div>


	<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>
	<script src="${request.contextPath}/statics/ueditor/ueditor.config.js"></script>
	<script src="${request.contextPath}/statics/ueditor/ueditor.all.js"></script>
	<script
		src="${request.contextPath}/statics/ueditor/lang/zh-cn/zh-cn.js"></script>
	<script
		src="${request.contextPath}/statics/js/modules/sys/message.js?_${.now?long}"></script>

</body>
</html>