<!DOCTYPE html>
<html>
<head>
<title>文件上传</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/switch.css">
 <script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>

</head>
<body>
<div id="rrapp" v-cloak>
		<div v-show="showList">
		
			<div class="grid-btn" style="padding-bottom: 5px;">
			<div class="form-group col-xs-2">
				<input type="text" class="form-control" v-model="q.title" @keyup.enter="search" placeholder="标题">
			</div>
			<a class="btn btn-default" @click="search">查询</a>
				<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
				<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
			</div>
			<ul id="myTab" class="nav nav-tabs" style="border-bottom: none;">
				<li class="active">
				<a href="#products" data-toggle="tab" @click="reload('products')">Products</a></li>
				<li><a href="#basics" data-toggle="tab" @click="reload('basics')">Basics</a></li>
				<li><a href="#health" data-toggle="tab" @click="reload('health')">Health Knowledge</a></li>
				<li><a href="#business" data-toggle="tab"  @click="reload('business')">Business Building</a></li>
			</ul>
			<table id="jqGrid"></table>
			<div id="jqGridPager"></div>
		</div>

		<div v-show="!showList" class="panel panel-default"  >
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal" >
			
		
			<div class="form-group">
				<div class="col-sm-4 control-label">文件在APP中显示的名称</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" v-model="fileList.filename" placeholder="文件名称"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">文件简易描述</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" v-model="fileList.intro" placeholder="文件简易描述"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">文件上传</div>
				<div class="col-sm-8">
					<!-- <input type="text" disabled='true' class="form-control" v-model="fileList.file_path" id="fileName"/></br>
					<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;文件上传</a> -->
<!-- 					<a id="ctlBtn" class="btn btn-default" @click="showDialog">开始上传</a>
 -->					<input type="text" disabled='true' class="form-control" v-model="fileList.file_path" id="fileName"/>
 						<a id="ctlBtn" style="margin-top: 4px;" class="btn btn-default btn-sm" @click="showDialog">开始上传</a>
 						
					</div>
				</div>
		<div class="form-group">
				<div class="col-sm-4 control-label">banner显示图片</div>
				<div class="col-sm-8">
					<img id="file_banner" width="100" height="100"/>
					<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;图片上传</a></br>
					<span><font size="-2" color="#9e9e9e">注意:建议先请设计师设计完成后操作,尽可能将图片控制在1M之内</font></span>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">文件类型</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" id="fileType"  disabled='true' v-model="fileList.file_type" placeholder="文件类型"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">标识1</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" v-model="fileList.tab1" placeholder="标识1"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">标识2</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" v-model="fileList.tab2" placeholder="标识2"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">是否显示</div>
				<!-- <label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="banner.status"/> 删除
				</label> -->
				<label class="radio-inline">
					<input type="radio" name="status" value="1" v-model="fileList.status"/> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="fileList.status"/> 否
				</label>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-4 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="query" value="返回"/>
			</div>
		</form>
	</div>

</div>
<!-- <script src="${request.contextPath}/statics/js/modules/sys/test2.js"></script>
 -->
 
 
<script src="${request.contextPath}/statics/js/modules/sys/oss.js?_${.now?long}"></script>
<script type="text/javascript">  
 $('#picker').unbind('click').bind('mouseover',function(){
	 uploader.refresh();
 })
</script> 
</body>
</html>