<!DOCTYPE html>
<html>
<head>
<title>文件上传</title>
<#include "/header.html">
<link rel="stylesheet" href="${request.contextPath}/statics/css/switch.css">
<script src="${request.contextPath}/statics/libs/ajaxupload.js"></script>

   <link rel="stylesheet" type="text/css" href="${request.contextPath}/statics/ueditor/third-party/webuploader/webuploader.css" rel="external nofollow" >
        <script type="text/javascript" src="${request.contextPath}/statics/ueditor/third-party/webuploader/webuploader.js"></script>
 <script src="${request.contextPath}/statics/js/modules/sys/image.js"></script>

</head>
<body>
<div id="rrapp" v-cloak>
	<div v-show="showList">
		<div class="grid-btn">
			<a class="btn btn-primary" @click="add"><i class="fa fa-plus"></i>&nbsp;上传文件</a>
			<a class="btn btn-primary" @click="del"><i class="fa fa-trash-o"></i>&nbsp;删除</a>
		</div>
	    <table id="jqGrid"></table>
	    <div id="jqGridPager"></div>
    </div>
    
    <div v-show="!showList" class="panel panel-default">
		<div class="panel-heading">{{title}}</div>
		<form class="form-horizontal">
			
		
			<div class="form-group">
				<div class="col-sm-4 control-label">文件在APP中显示的名称</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" v-model="fileList.filename" placeholder="文件名称"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">文件简易描述</div>
				<div class="col-sm-8">
					<input type="text" class="form-control" v-model="fileList.intro" placeholder="文件简易描述"/>
				</div>
			</div>
			<div class="form-group">
				<div class="col-sm-4 control-label">文件上传</div>
				<div class="col-sm-8">
					<!-- <input type="text" disabled='true' class="form-control" v-model="fileList.file_path" id="fileName"/></br>
					<a class="btn btn-primary" id="upload"><i class="fa fa-plus"></i>&nbsp;文件上传</a> -->
<!-- 					<a id="ctlBtn" class="btn btn-default" @click="showDialog">开始上传</a>
 -->					
 <a id="ctlBtn" class="btn btn-default" @click="showDialog">开始上传</a>
 						<div id="uploader" class="wu-example">
						<div id="thelist" class="uploader-list"></div>
							<div class="btns">
								<div id="picker">选择文件</div>
								<button id="ctlBtn" class="btn btn-default">开始上传</button>
							</div>
						</div>
					</div>
				</div>

			<div class="form-group">
				<div class="col-sm-4 control-label">是否显示</div>
				<!-- <label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="banner.status"/> 删除
				</label> -->
				<label class="radio-inline">
					<input type="radio" name="status" value="1" v-model="fileList.status"/> 是
				</label>
				<label class="radio-inline">
					<input type="radio" name="status" value="0" v-model="fileList.status"/> 否
				</label>
			</div>
			
			
			<div class="form-group">
				<div class="col-sm-4 control-label"></div>
				<input type="button" class="btn btn-primary" @click="saveOrUpdate" value="确定"/>
				&nbsp;&nbsp;<input type="button" class="btn btn-warning" @click="reload" value="返回"/>
			</div>
		</form>
	</div>

</div>
<!-- <script src="${request.contextPath}/statics/js/modules/sys/test2.js"></script>
 -->
 
<script src="${request.contextPath}/statics/js/modules/sys/oss.js?_${.now?long}"></script>
<script type="text/javascript">  
 
</script> 
</body>
</html>